/* Start font */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* End font */

/* start Body */
.body {
    color: black;
    font-family: Roboto,Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */



/* Start Debug*/
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-black{
    background-color: black;
}
.bg-gray {
    background-color: gray
}
/* End Debug */

/* Start Container */
 .container {
     margin: 10px auto;
     overflow: auto;
     width: 90%;
}
/* End Container */
/*Start Logo*/
.logo{
    text-align: center;
}
/*End Logo*/

/*Start Anchor / Hyperlink*/
a:link,
a:visited {
    color: black;
    text-decoration: none;
    
}
a:hover,
a:active {
    color: red;
    text-decoration: none;
}
/*End Anchor / Hyperlink*/

/*Start Menu Primer*/
.menu-primer{
    background-color: purple;
    border-radius: 4px;
    box-shadow:
        0 3px 5px -1px rgba(red, green, blue, alpha)(0,0,0,.2),
        0 6px 0px 0 rgba(red, green, blue, alpha)(0,0,0,.14),
        0 1px 18px 0 rgba(red, green, blue, alpha)(0,0,0,.12);
}

.menu-primer li {
    border-right: 1px solid white;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: white;
    font-size: 13px;
    display: inline-block; 
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase
}

.menu-primer a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.menu-primer .active {
    background-color: black;
    color: yellow;
    text-decoration: none;
}
/* End menu Primer*/

/* Start Heading */
.h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron*/
.jumbotron {
    background-color: aquamarine;
    border: 1px solid seagreen;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 28px;
    padding: 0 20px;
}
/* End jumbotron*/

/* Start Main */
.main-home-one {
    float: left;
    width: 49.5%;
}
.main-home-two {
    float: right;
    width: 49.5%;
}
.main-home-one ,.box-isi,
.main-home-two ,.box-isi {
    height: 140px;
}
/* End  Main */


/* Start Box*/
.box-heading {
    background-color: darkgray;
    border: 1px solid grey;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi  {
    background-color: aquamarine;
    color: black;
    border-top: 0;
    margin: 0;
    padding: 10px 20px; 
}
/* End Box*/